.experience{
    //position: relative;
    width: 100%;
    min-height: 50vh;


    .experience-user{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .worked{
            position:relative;
            width: 100%;
            min-height: 15rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            


            .logo{
                min-width: 11rem;
                min-height: 8rem;
                max-height: 100%;
                // height: inherit;
                margin-bottom: 1rem;
                border: 1px solid black;
                
                // border: 1px solid hotpink;
            }
            .data-worked{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                
                h4{
                    // margin-left: -2rem;
                    margin-bottom: 1rem;
                }
                p{
                    text-align: center;

                }
            }
        }
    }
}

@media(min-width:700px){


    .experience{
        .experience-user{
            .worked{
                flex-direction: row;
                margin-bottom: 2rem;

                .logo{
                    margin-bottom: 0rem;
                }
                .data-worked{
                    margin-left: 2rem;

                }
            }
        }
    }
}