.crud-buttons{

    // display: flex;
    
    // justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    .btn{
        // background-color: #0E0331;
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 50%;
        cursor:pointer;

    
    
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
        }
    
    }
}

.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    z-index: 1000;
    height: 100vh;
    top: 0;
    right: 0;
    // border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.7);

    .modalv{
        width: 70%;
        height: 60%;
        background-color: #0E0331;
        border-radius: 1rem;

        // display: flex;
        // justify-content: center;
        // align-items: center;

        position: relative;



        .close{
            position: absolute;
            background-color: coral;
            border-radius: 100%;
            width: 2rem;
            height: 2rem;
            top: 1rem;
            right: 1rem;

            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 98%;
                height: 98%;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            width: 80%;
            height: 80%;
            border: 1px solid darkgrey;
            // position: relative;
            // bottom: 0;



            div{
                // display: flex;

                label{
                    color: white;
                    font-size: large;
                    margin-left: 1rem;
                }
                input{
                    margin-bottom: 0.5rem;
                }
                textarea{
    
                }

                .btn{
                    display: flex;

                }
            }
        }


    }

}