<!-- <div class="content" *ngFor="let item of dato"> -->
<div class="content" >

  <!-- En cada componente se ingresan los datos correspondientes del componente padre con Input -->
  <!--<app-header [datos]="dato[0]"></app-header>-->
  <app-header ></app-header>

  <nav class="nav">
    <ul class="list">
      <li><a routerLink="about" routerLinkActive="active">Sobre Mi</a></li>
      <li><a routerLink="proyectos" routerLinkActive="active">Proyectos</a></li>
      <li><a routerLink="skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="experiencia" routerLinkActive="active">Experiencia</a></li>
    </ul>
  </nav>

  
  <div class="content-sections">
    <router-outlet></router-outlet>
  </div>




  <app-footer-pag></app-footer-pag>


</div>