<header class="header">

    <nav class="header-nav">
        <div class="nav-logo">
            <img src="../assets/img-logo-AP.png">
        </div>
        <div class="initial-sesion close-session">
        </div>
    </nav>


    <div class="header-content-portada" >

        <!-- Agregamos un boton para editar los datos pasados desde un input -->
        <app-edition-profile [datos] = "datos" [dato]="dato"></app-edition-profile>
        
        <div class="content-img">
            <img src="" alt="">
            <div class="content-title">
                <h1>{{dato['titulo']}}</h1>
            </div>
        </div>
    </div>

</header>