.section-proyects{
    position: relative;
    margin: 2rem;


    h3{
        display: block;
        font-size: x-large;
    }

    .proyect{
        margin: 2rem;
        height: 13rem;
        // border: 1px solid fuchsia;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        

        h4{
            margin-bottom: 0.5rem;
            text-align: center;         
        }
        p{
            margin-bottom: 1rem;
            text-align: center;   
            padding: 0.5rem;     
        }
        a{
            text-align: center;
        }
            

    }
    
}