

<footer class="footer">
    <div class="form-contact">
        <form action="">
            <label for="nombre">Nombre y Apellido: </label><input type="text" name="nombre" id="nombre">
            <label for="asunto">Asunto: </label><input type="text" name="asunto" id="asunto">
            <label for="mail">Email: </label><input type="email" name="mail" id="mail">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </div>
    <div class="logos">
        <p>© 2022 Todos los derechos reservados.</p>
        <!-- <a href=""><img src="" alt="">Facebook</a> -->
        <div class="logos-content">
            <!-- <a href=""><img src="../../assets/instagram-svgrepo-com.svg" alt=""></a> -->
            <a href=""><img src="../../assets/github-svgrepo-com.svg"></a>
            <a href=""><img src="../../assets/linkedin-svgrepo-com.svg"></a>
            <a href=""><img src="../../assets/whatsapp-svgrepo-com.svg"></a>
        </div>
    </div>
</footer>